
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log

.DS_Store
_SpecRunner_.html

*.sublime*
/.junit-output
/.idea*
/.grunt*
/node_modules
/public/js
/spec/js
/spec/helpers/js
/reports*
/doc/*
