doctype 5
html.bGlobalLayout
  head
    title= title
    script(src='public/js/lib/require.js')
    script(src='public/js/lib/underscore.js')
    script(src='public/js/app-require-config.js')
    script(src='public/js/app.js')
    link(rel='stylesheet', href='/b/style.css')
  body.bGlobalLayout__eBody
    block content